SUNPASS_USERNAME=your_username
SUNPASS_PASSWORD=your_password
SUNPASS_HEADLESS=true
PLAYWRIGHT_CLI_EXECUTABLE_PATH=npx playwright
SUNPASS_LOGIN_URL=https://www.sunpass.com/vector/account/home/accountLogin.do
SUNPASS_TRANSACTIONS_URL=https://www.sunpass.com/vector/account/transactions/webtransactionSearch.do
SUNPASS_LOOKBACK_DAYS=30
SUNPASS_FROM_DATE=03/01/2023
SUNPASS_TO_DATE=03/31/2023
